.jumbotron {
  margin-top: 15px;
  margin-left: 0px;
  background-color: lightgrey;
  padding: 20px;
  font-family: cursive;
}

.sub-intro {
  margin-left: 150px;
  padding: 5px;

}

body {
  background-color: teal;
}

.aboutme {
  font-size: inherit;
  position: absolute;
  top: 0;
  width: 180px;
  left: 0;
  border-right: solid black 1px;
  padding-left: 200px;
  margin:  22em 1em 0.7em;
  padding: 0.25em 0;
  direction: ltr;
}

.hobbies {

}

[src="img/tree pose.jpg"] {
  border: solid 2px black;
  padding: 3px;
  width: 200px;
  height: 200px;
  float: right;
}

.project-titles {
  position: relative;
  margin-left: 150px;
  margin-top: 5px;
  text-align:center;

}

p.project-titles {
  font-size: 10px;
}

.ieborder {
  border: solid orange;
  padding: 3px;
  width: 4px;
  background-color: skyblue;
}

.iecolor {
  color: red;
}

.gh {
  font-family: fantasy;
  color: red;
}
